<html>
<head>
<title>Sketchpad</title>
<style>
#canvas {
  border: 1px solid black;
  display: block;
}
</style>
</head>

<body>
    <canvas id="canvas" width="600" height="600">
    Your browser does not support the canvas element.
    </canvas>
    <form  id="goob-form">
        <input id="namey" type="text">
        <button id="clear" type="button">Clear canvas</button>
        <button type="submit">Submit Goober</button>
    </form>
    <script type="text/javascript">
        document.getElementById("goob-form").addEventListener("submit", sendGoob);

        console.log("script start");

        const canvas = document.getElementById("canvas");
        const ctx = canvas.getContext("2d");

        // Mapping from the pointerId to the current finger position
        const ongoingTouches = new Map();
        function handleStart(event) {
        event.preventDefault();

        for (const changedTouch of event.changedTouches) {
            const touch = {
            pageX: changedTouch.pageX,
            pageY: changedTouch.pageY,
            color: colorForTouch(changedTouch),
            };
            ongoingTouches.set(changedTouch.identifier, touch);
            ctx.beginPath();
            ctx.arc(touch.pageX, touch.pageY, 4, 0, 2 * Math.PI, false);
            ctx.fillStyle = touch.color;
            ctx.fill();
        }
        }

        canvas.addEventListener("touchstart", handleStart);
        function colorForTouch(touch) {
        const r = touch.identifier % 16;
        const g = Math.floor(touch.identifier / 3) % 16;
        const b = Math.floor(touch.identifier / 7) % 16;
        // convert to hex digits
        return `#${r.toString(16)}${g.toString(16)}${b.toString(16)}`;
        }
        function handleEnd(event) {
        event.preventDefault();

        for (const changedTouch of event.changedTouches) {
            const touch = ongoingTouches.get(changedTouch.identifier);
            if (!touch) {
            console.error(`End: Could not find touch ${changedTouch.identifier}`);
            continue;
            }
            ctx.lineWidth = 4;
            ctx.fillStyle = touch.color;
            ctx.beginPath();
            ctx.moveTo(touch.pageX, touch.pageY);
            ctx.lineTo(changedTouch.pageX, changedTouch.pageY);
            ctx.fillRect(changedTouch.pageX - 4, changedTouch.pageY - 4, 8, 8);
            ongoingTouches.delete(changedTouch.identifier);
        }
        }

        canvas.addEventListener("touchend", handleEnd);
        function handleCancel(event) {
        event.preventDefault();

        for (const changedTouch of event.changedTouches) {
            if (!ongoingTouches.has(changedTouch.identifier)) {
            console.error(`Cancel: Could not find touch ${changedTouch.identifier}`);
            continue;
            }
            ongoingTouches.delete(changedTouch.identifier);
        }
        }

        canvas.addEventListener("touchcancel", handleCancel);
        function handleMove(event) {
        event.preventDefault();

        for (const changedTouch of event.changedTouches) {
            const touch = ongoingTouches.get(changedTouch.identifier);

            if (!touch) {
            console.error(`Move: Could not find touch ${changedTouch.identifier}`);
            continue;
            }

            ctx.beginPath();
            ctx.moveTo(touch.pageX, touch.pageY);
            ctx.lineTo(changedTouch.pageX, changedTouch.pageY);
            ctx.lineWidth = 10;
            ctx.strokeStyle = touch.color;
            ctx.stroke();

            const newTouch = {
            pageX: changedTouch.pageX,
            pageY: changedTouch.pageY,
            color: touch.color,
            };

            ongoingTouches.set(changedTouch.identifier, newTouch);
        }
        }

        canvas.addEventListener("touchmove", handleMove);
        document.getElementById("clear").addEventListener("click", () => {
            console.log("clear");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        });

        function sendGoob() {
            event.preventDefault();
            console.log("sending goob")
            const dataUrl = canvas.toDataURL("image/png"); 
            const b64 = dataUrl.split(",")[1];
            const queryParams = new URLSearchParams(window.location.search);
            const access_token = queryParams.get("access_token");
            console.log("sending goob");
            fetch("/v1/bubba-gum-shimp", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    name: document.getElementById("namey").value,
                    image: b64,
                    access_token: access_token,
                }),
            }).then(() => {console.log("i just sent a goob")})
            return false;
        }
    </script>
</body>


</html>